<ul>
    <li><h1><%= @article.title%></h1></li>
    <li><%= @article.author%></li>
    <li><%= @article.link%></li>
    <li><%= @article.category%></li>
</ul>
<%= link_to "Create New Article", new_article_path %>